$main-color: #ffc038;
$primary-dark: #ff931f;
$secondary-color: #464646;
$red-color: #f26c4f;
$secondary-light: #a5a5a5;
$footer-color: #363636;
$white-color : #ffffff;
$color-border: #fff200;
$red-color-dark: #de593b;
$theme-body-color: #ebebeb;